@keyframes menuOpen {
    0%{
        visibility: hidden;
        transform: translateX(105%);
    }
    100%{
        visibility: visible;
        transform: none;
    }
}
@keyframes menuClose {
    0%{
        visibility: visible;
        transform: none;
    }
    100%{
        visibility: hidden;
        transform: translateX(105%);

    }
}

@keyframes drinkItem {
    0%{
        transform: translateY(15%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logo {
    0%{
        transform: translateX(-130%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes menuIcon {
    0%{
        transform: translateX(130%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes header {
    0%{
        transform: translateY(-15%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}