
/* 숨김컨텐츠 */

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* 기본 스타일링 */
html {
    font-size: 16px;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
/* 리셋 모듈 */
.resetHead {
    margin: 0;
}
.resetButton {
    border: none;
    padding: 0;
    cursor: pointer;
}
.resetList {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

/* 레이아웃 */
/* 헤더 */
.header {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #aaa;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
}
.logo a {
    display: inline-block;
    padding: 32px;
    vertical-align: top;
}
.logo img {
    display: block;
    width: 163px;
    height: auto;
}

/* 메인메뉴 */
.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* 메뉴 열기버튼 배경 애니메이션 */
.btn-openMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    text-indent: 80px;
    white-space: nowrap;
    overflow: hidden;
    background: transparent url(../images/button/bars.png) no-repeat 50% 50%;
    background-size: 24px;
    display: block;
    transition: all 0.6s linear;
}
.btn-openMenu:hover {
    background-color: #eee;
}
.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 24, 44, 0.9);
    transform: translatex(105%);
    transition: all 0.6s;
    /* display: none; */
}
input:checked + label + .menu-container {
    transform: none;
    /* display: block; */
}
.menu-list {
    margin-top: 70px;
}
/* 메인메뉴 애니메이션 */
.menu-link {
    display: block;
    color: #fff;
    padding: 0.9em;
    border-bottom: 1px solid cornflowerblue;
    transition: all 0.5s;
}
.menu-link:hover,
.menu-link:focus {
    background-color: cornflowerblue;   
}
/* 버튼닫기 배경 애니메이션 */
.btn-closeMenu {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1.5rem;
    background: url(../images/button/Close.png) no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    text-indent: calc(20px + 2.5em);
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.4s;
}
.btn-closeMenu:hover {
    transform: scale(1.2);
}
/* 커피메뉴 */
.drink-list {
    max-width: 850px;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* background-color: orange; */
}
.drink-item {
    position: relative;
    margin: 10px;
}
@media screen and (max-width: 500px) {
    .drink-item {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 501px) {
    .drink-item {
        flex-basis: 45%;
    }
}

.drink-infoOpen {
    padding: 1.5rem 23%;
    position: relative;
    border: 1px solid #fff;
}
.drink-infoOpen span {
    display: block;
    font-size: 1rem;
    color: #555;
}
.drink-image {
    max-width: 100%;
    height: 100%;
    transition: all 0.4s;
}
/* 커피메뉴 이미지 애니메이션 */
.drink-infoOpen:hover .drink-image {
    transform: scale(1.1);
}
/* 카페메뉴  */
.drink-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    flex-flow: row wrap;
    border: 1px solid #aaa;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.drink-act .drink-info {
    opacity: 1;
    visibility: visible;
}

.drink-info>div {
    padding: 2.5rem 1rem 0;
}
.drink-infoCompList {
    font-size: 0.8rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 5rem;
    background-color: #eee;
    width: 100%;
    padding: 1rem 2rem 1rem 3rem;
    margin: auto 1px 1px;
}
.drink-infoCompList::after {
    content:"";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #aaa;
    order: -1;
}
.drink-infoCompList div:nth-child(1),
.drink-infoCompList div:nth-child(2),
.drink-infoCompList div:nth-child(3) {
    order: -2;
}

.drink-infoCompList dd,
.drink-infoCompList dt {
    display: inline-block;
    margin-left: 0;
}
.drink-infoCompList dt {
    width: 5rem;
}
.drink-infoName{
    display: block;
    font-size: 1.1rem;
    font-style: normal;
    border-bottom: 2px solid black;
}
/* 커피메뉴 영문이름 */
.drink-infoName::after{
    content: attr(data-enName);
    font-size: 0.8rem;
    color: gray;
    display: block;
    margin-bottom: 1rem;
    line-height: 0.9;
}
/* 커피메뉴 닫기 애니메이션 */
.drink-infoClose {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
    background: transparent url(../images/button/Close\ 2.png) no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.3rem;
}

.drink-infoClose:hover {
    background-color: #ddd;
}